body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: black;
}
main{
    padding: 1rem;
}
.main-header{
    width: 100%;
    height: 3.5rem;
    background-color: rgb(221, 221, 28);
    padding: 0 1.5rem;
}
.main-header__nav{
    height:100%;
    display: flex;
    align-items: center;
}
.main-header__item-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.main-header__item{
    margin: 0 1rem;
    padding: 0;
}
.main-header__item a{
    text-decoration: none;
    color: white;
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a:active{
    color: black;
}
.product-form{
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.form-control{
    margin: 1rem 0;
}
.form-control label,
.form-control input{
    display:block;
    width: 100%;
}
.form-control input{
    border: 1px solid #dbc441;
    font:inherit;
    border-radius: 2px;
}
button{
    font: inherit;
    border: 1px solid #dbc441;
    color: #dbc441;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
}
button:hover,
button:active{
    color: rgb(255, 255, 255);
    background-color: rgb(21, 21, 68);
}